.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.titulo{
  align-items: center;
  padding: auto;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 1rem 1.2rem;
}

.margen_contenido{
  padding: 6rem;
}

.boton {
  border: 1px solid #2e518b; 
  padding: 10px; 
  background-color: #2e518b; 
  color: #ffffff;
  text-decoration: none; 
  text-transform: uppercase; 
  font-family: 'Helvetica', 'sans-serif';
  border-radius: 50px; 
  }

  .boton_pie_pagina {
  border: 1px solid #2e518b; 
  padding: 10px; 
  margin-left: 10px;
  
  color: #2e518b;
  text-decoration: none; 
  font-family: 'Helvetica', 'sans-serif';
  }

.description p {
  position: relative;
  margin: 0;
  line-height: 2.5rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}


.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  text-align: justify;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
  text-align: justify;
}

.card p {
  padding-block: 4rem;
  opacity: 0.6;
  line-height: 1.5;
  max-width: 30ch;
}



.logo {
  position: relative;
}

.boton_pie_pagina:hover{
  background-color: #2e518b;
  color: #ffffff;
}

.boton:hover{
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.imagen_cover{
  object-fit: cover;
  width:100%;
  height:100%;
}

.imagen_grid{
  padding: 15px;
  width:100%;
  height:100%;
}

.contenedor_imagen_cover{
  width:100%;
  height:150%;
  margin: 0px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;	
}

.navContainer{
  /*max-width: var(--max-width);*/
  width: 100%;
  margin-inline: auto;
  background-color: #9d9d9c;
  /*background-color: #6d6a6a;*/
  /*background-color: #333;*/
  color: beige;
}


.nav{
  margin: 0;
  padding-block: 2rem;
}

.nav ul li{
  font-size: 1.5rem;
  padding: auto;
}


.nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;  
}

.nav ul li{
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav ul li a{
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.li:hover,
.li:focus,
.li:active,
.a:hover {
  color: aquamarine;
  transition: color 0.15s ease;
}

.logo:hover {
  background-color: aquamarine;
  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}

.logoItem{
  width: auto;
  align-items: center;
}

.itemF {
  padding-bottom: 25px;
}

.texto{
  padding-top: 100px;
  text-align: justify;
  width: 400px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
  
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    padding: 1rem 2.5rem;
  }

   .description {
    font-size: 0.8rem;
  }


  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    list-style: none;  
  }
  
}

.logo{
  width: 50%;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .logo{
    width: 70%;
  }

  .nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    list-style: none;  
  }

}

@media (prefers-color-scheme: dark) {

  .logo img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
